
.areas{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 3rem;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-items: center;

    .areasTitle{
        font-size: 22px;
        text-align: center;
    }

    .areasButtons{
        display: grid;
        grid-template: auto auto / auto auto auto;
        gap: 1rem;
        margin: 0;
        width: fit-content;
        height: 150%;

        button{
            width: 100%;
            height: 120%;
            border-radius: 10px;
            box-shadow: 6.2px 12.5px 12.5px #0000004f;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            background-image: linear-gradient(90deg, rgba(204,215,27,1) 0%, rgba(115,147,0,1) 100%);
            border: none;
        }
    }

    .areasText{
        margin: 5%;
        padding: 20px 30px 20px 30px;
        background: radial-gradient(circle, rgba(179,190,19,1) 0%, rgba(91,161,12,1) 100%);
        border-radius: 20px;
        box-shadow: 6.2px 12.5px 12.5px #0000004f;
        height: 60vh;
        overflow-y: auto;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        h3{
            font-size: 18px;
            text-decoration: underline;
            margin-top: 0%;
        }

        p{
            font-family: 'Merriweather', serif;
            font-size: 13px;
        }
    }
}