.index{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 4rem;

    .logo{
        padding-top: 10%;
        padding-bottom: 10%;
        margin-bottom: -30%;
        background-repeat: no-repeat;
        background-image: url(../../images/Graupera-Home-07.jpg);
        background-size: 100%;

        img{
            margin: 7% auto 20% auto;
            width: 70%;
            padding: 20px 30px 20px 30px;
            display: block;
            background-color:rgba(156, 152, 148, 0.753);
            border-radius: 20px;
        }
    }

    .mainArticle{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-content: center;

        .mainArticle__Bloque1, .mainArticle__Bloque2{
            display: flex;
            flex-direction: column;
            background-color: transparent;
            align-items: center;
            padding: 5%;

            .mainArticle__Div{
                display: flex;
                flex-direction: column;
                gap: 15px;

                .mainArticle__Titulo1, .mainArticle__Titulo2{
                    font-size: 19px;
                    background-color: rgba(145, 143, 143, 0.925);
                    border-radius: 10px;
                    text-align: center;
                    text-decoration-line: underline;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    margin-right: 20%;
                    margin-left: 20%;
                }

                .mainArticle__Texto1, .mainArticle__Texto2{
                    font-size: 12px;
                    background-color: rgba(145, 143, 143, 0.925);
                    margin-left: auto;
                    margin-right: auto;
                    padding: 5px;
                    border-radius: 5px;

                    p{
                        margin-block-start: 0px;
                        margin-block-end: 0px;
                    }
                }
            }

            .mainArticle__Img1, .mainArticle__Img2{
                display: none;
            }
        }

        .mainArticle__Bloque1{
            background-image: url(../../images/img01.jpg);
            background-size: 110% 100%;
            background-repeat: no-repeat;
            padding-bottom: 0px;
        }

        .mainArticle__Bloque2{
            background-image: url(../../images/Graupera-Home-05.jpg);
            background-size: 110% 100%;
            background-repeat: no-repeat;
            padding-bottom: 0px;
        }
    }

    .clients{
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 4rem;
        padding-bottom: 60px;
        margin-bottom: 10px;
    
        .clients__Title{
            margin: 0px;
            text-align: center;
        }
    
        .clients__Imgs{
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            padding: 10px 10px 10px 10px;
            border-radius: 20px;
            height: 300px;
            gap: 1rem;
            background-color: transparent;
            box-shadow: none;
    
            img{
                justify-self: center;
                align-self: center;
                width: 100%;
                height: auto;
                box-shadow: 6.2px 12.5px 12.5px #0000004f;
                background-color: white;
                border-radius: 10px;
            }   
        }
    
        .clients__Comments{
            display: flex;
            gap: 2rem;
            justify-content: space-around;
            flex-direction: column;
            padding: 20px 30px 20px 30px;
    
            .clients__Comment1, .clients__Comment2{
                background: radial-gradient(circle, rgba(218,232,14,1) 0%, rgba(199,183,42,1) 100%);
                box-shadow: 6.2px 12.5px 12.5px #0000004f;
                border-radius: 20px;
                padding: 30px 30px 30px 30px;
    
                .clients__Cite1, .clients__Name1, .clients__Cite2, .clients__Name2{
                    font-family: 'Merriweather', serif;
                    font-size: 14px;
                }
            }
        }
    }
}