
.trabajo{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 3rem;
    margin-top: 5%;
    margin-bottom: 10%;

    .trabajoTitle{
        display: flex;
        justify-content: center;
        font-size: 22px;
    }

    .steps{
        a{
            color: black;
            text-decoration: none;
        }

        a:visited{
            color: black;
        }

        .steps__Step1, .steps__Step2, .steps__Step3{
            background-image: linear-gradient(90deg, rgba(204,215,27,1) 0%, rgba(115,147,0,1) 100%);
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-shadow: 6.2px 12.5px 12.5px #0000004f;
            padding: 15%;

            .steps__Img1, .steps__Img2, .steps__Img3{
                width: 40%;
                height: auto;
                margin-right: auto;
            }

            .steps__Title1, .steps__Title2, .steps__Title3{
                font-size: 12px;
                margin-block-start: 0em;
                margin-block-end: 0em;
            }
        }
    }

    .step1, .step2, .step3{
        background: radial-gradient(circle, rgba(179,190,19,1) 0%, rgba(91,161,12,1) 100%);
       display: grid;
       grid-template-columns: none;
       grid-template-rows: auto auto;
       gap: 0px;
       margin-left: auto;
       margin-right: auto;
       border-radius: 20px;
       width: 90%;
       height:110%;
       box-shadow: 6.2px 12.5px 12.5px #0000004f;

       .step1__Div, .step2__Div, .step3__Div{
            display: flex;
            flex-direction: column;
            margin-left: 3%;
            margin-right: 3%;
            margin-top: 15px;
            overflow-y: auto;

            .step1__Title, .step2__Title, .step3__Title{
                font-size: 18px;
                text-align: center;
                margin: 10px;
            }
            
            .step1__SubTitle, .step2__SubTitle, .step3__SubTitle{
                font-size: 16px;
                text-align: center;
                font-family: 'Merriweather', serif;
                margin: 5px;
            }
            
            .step1__Text, .step2__Text, .step3__Text{
                font-size: 13px;
                font-family: 'Merriweather', serif;
            }
        }

        .step1__Img, .step2__Img, .step3__Img{
            height: auto;
            width: 90%;
        }

        .step1__Img, .step3__Img{
            align-self: center;
            justify-self: center;
            box-shadow: 6.2px 12.5px 12.5px #0000004f;
        }
        
        .step2__Img{
            align-self: center;
            justify-self: center;
            box-shadow: 6.2px 12.5px 12.5px #0000004f;
        }
    }
   
   .step2, .step3{
       display:none
    }
}